body {
    margin: 0;
    padding: 0;
    background-color: #9CCCCE;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #2FE6FF;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-box {
    background-color: #439B9F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.login-box input[type="submit"] {
    background-color: #2FE6FF;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.login-box input[type="submit"]:hover {
    background-color: #1F9DBF;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: url("1x1.png");
}
